* {
    padding: 0;
    margin: 0;
    direction: rtl;
    text-align: right;
    touch-action: pan-x pan-y;
}

@import "./_variables";
@import "./_typography";

@import "./containers/home";
@import "./containers/restaurants";
@import "./containers/not-found";

@import "./components/loading-screen";
@import "./components/vendors-list";

@import "./kits/button";

body {
    position: relative;
    background-color: $body-surface;
    padding: env(safe-area-inset-top) env(safe-area-inset-right)
        env(safe-area-inset-bottom) env(safe-area-inset-left);

    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

* {
    color: $text-color;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
