$separators-color: #eeeeee;
$text-gray_color: #8e8e93;
$text-color: #111111;
$color-primary: #ff00a4;
$color-gray: #8e8e93;
$color-fields-background: #f8f9fc;
$color-secondary: #f2f2f8;
$color-red: #ff3a30;
$color-placeholder: #eeeeee;
$color-success: #3fc045;
$color-warning: #ff9800;
$background-color: "#f3f4f6";
$card-background-color: "#fff";
