.restaurants {
    display: flex;
    flex-direction: column;
    height: auto;
    max-width: 428px;
    padding: 1rem 0rem;
    margin: auto;

    .back-button {
        align-self: self-end;
        margin: 0rem 1rem;
        padding: 0.25rem;
        font-size: $text-x-large;
    }
}
