.button {
    border: none;
    outline: 0;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: $text-size;
    font-weight: $font-medium;
    display: flex;
    align-items: center;
    transition: 0.2s ease;

    &:active {
        transform: scale(0.97);
        transition: 0.2s ease;
    }

    &--primary {
        background: $primary-color;
        color: $text-white;
    }

    &--secondary {
        background: $primary-light;
        color: $text-color;
    }

    &--disabled {
        background: $carbon-light;
        color: $text-color;
        cursor: not-allowed;
    }

    &--small {
        padding: 6px 10px;
    }

    &--medium {
        padding: 8px 12px;
    }

    &--large {
        padding: 12px 16px;
    }
}
